@import "../../../../styles/vairables";

.join {
    @include flexCenter(column);
    width: 100%;
    height: 50vh;
    background-color: $background-color;
    gap: 10vh;
    position: relative;
    z-index: 1;

    h3 {
        font-family: $header-font;
        font-size: 5.5rem;
        color: $text-color;
        margin: 0;
        text-align: center;
        max-width: 45%;
        text-transform: lowercase;
        line-height: 80.833%;

        @include respond-to(ipad) {
            max-width: 75%;
            font-size: $biggest-font-size;
        }
    }

    p {
        gap: $spacing-xs;
        font-size: $small-font-size;
        color: $cream-color;
        font-family: $body-font;
        padding: $spacing-sm;

    }
}