@import "../../styles/vairables";

.landing {

    @include twoColumnGrid;
    height: 80vh;
    width: 100%;
    gap: $spacing-sm;
    transition: $animation-primary;
    position: relative;
    z-index: 2;

    @include respond-to(phone) {
        display: flex;
        flex-direction: column;
    }

    .left {
        @include flex(column, center, flex-start);
        width: 100%;
        height: 100%;
        gap: $spacing-sm;
        padding: $spacing-lg; 

        .button {
            @include mainButton($accent-color, $title-color);
            @include respond-to(phone) {
                margin-top: $spacing-sm;
            }
        }

        @include respond-to(phone) {
            padding-top: 10vh;
        }
    }

    .right {
        @include flexCenter(column);
        width: 100%;
        height: 100%;
        img {
            height: 80vh;
            object-fit: cover;

            @include respond-to(phone) {
                height: 50vh;
            }
        }
    }
}



.headers {
    @include flex(column, center, flex-start);
    position: relative;

}

