@import "../../styles/vairables";

.landing {

    @include flexCenter(row);
    height: 80vh;
    width: 100%;
    gap: $spacing-sm;
    transition: $animation-primary;
    margin-top: 20vh;
    position: relative;
    z-index: 2;

    .left {
        @include flex(column, center, flex-start);
        width: 100%;
        height: 100%;
        gap: $spacing-sm;
        

        .button {
            @include mainButton($accent-color, $title-color);
        }
    }

    .right {
        @include flexCenter(column);
        width: 100%;
        height: 100%;
        gap: $spacing-sm;
        img {
            height: 80vh;
            object-fit: cover;
        }
    }
}



.headers {
    @include flex(column, center, flex-start);
    position: relative;
    padding: $spacing-lg; 
    h2 {
        font-family: $header-font;
        font-size: $biggest-font-size;
        color: $title-color;
        text-align: left;
        text-transform: capitalize;
        line-height: 89.833%;
        margin: 0;
        padding: 0;
        width: 100%;
        font-display: swap;
        letter-spacing: -0.01rem;

        @include respond-to(laptop) {
            font-size: $semi-big-font-size;
        }

        @include respond-to(small-tablet) {
            font-size: $bigger-font-size;
        }
    }
}

