@import "@/styles/vairables";

.communityUpper {
    position: relative;
    width: 100%;
    height: 75vh;

    img {
        object-fit: cover;
        border-bottom-left-radius: $border-radius-lg;
        border-bottom-right-radius: $border-radius-lg;
    }

    &__content {
        @include position(absolute, 100%, null, null, 50%);
        transform: translate(-50%, -50%);
        z-index: 9999;

    }

}