@import "../../../../../styles/vairables";

.imagesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-sm;
    height: fit-content;
    
    .imageWrapper {
        position: relative;
        @include flexCenter(column);
    }

    img {
        width: 100%;
        height: 30vh;
        object-fit: contain;
    }

    button {
        @include position(absolute, 45%, 45%, null, null);
        
        z-index: 10;
        padding: $spacing-xs $spacing-sm !important;
        background-color: $delete-color;
        border: none;
        font-size: $normal-font-size;
        width: fit-content;

        &:hover {
            background-color: darken($delete-color, $input-hover-border-darken);
        }
    }
}