@import '../../styles/vairables';

.ctaButton {
    @include mainButton($title-color, $title-color);
    gap: $spacing-sm;

    svg,
    button {
        position: relative;
        z-index: 1;
        font-size: $small-font-size;
    }

    svg {
        margin-top: 0.2rem;
    }

}

