@import "@/styles/_vairables.scss";


.info {
    display: flex;
    width: fit-content;
    max-width: 30vw;
    padding: $spacing-xxs;
    background-color: $dimmed-color;
    border-radius: $border-radius-lg;

    @include respond-to(small-tablet) {
        width: 100%;
        max-width: 100%;
        max-height: 25vh;
    }

    img {
        height: 100%;
        object-fit: cover;
        border-radius: 0.75rem;

        @include respond-to(small-tablet) {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &_right {
        @include flex(column, space-between, center);
        padding: $spacing-lg $spacing-sm;
        gap: $spacing-sm;

        span {
            font-size: $small-font-size;
            font-family: $subtitle-font;
            color: $border-color;
        }

        p {
            font-size: $normal-font-size;
            font-family: $body-font;
            color: $title-color;

            @media (max-width: 555px) {
                font-size: 0.9rem;
            }

        }
    }

    &_left {
        overflow: hidden;
    }

    &_button {
        @include flexCenter(row);
        gap: $spacing-xs;

        svg {
            background-color: $title-color;
            border-radius: $border-radius;
            padding: $spacing-xs;
            color: $cream-color !important;
            font-size: $semi-big-font-size;
            transition: $animation-primary;
        }

        &:hover {
            svg {
                transition: $animation-primary;
                rotate: (45deg);
            }
        }

        span {
            font-size: $small-font-size;
            font-family: $body-font;
            color: $title-color;
        }
    }
}