@import "../../../../styles/vairables";

.vision {
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 11g0vh;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: $darker-background-two;
    img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        border-radius: 1rem;
        filter: grayscale(0.1);
    }
}

.teamSmall {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    padding: 2rem;
    height: fit-content;
    z-index: 2;
    background: rgba(32, 32, 32, 0.75);
    border-radius: 0.75rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(32, 32, 32, 0.3);

    p {
        font-family: $subtitle-font;
        font-size: $normal-font-size;
        color: $container-color;
        width: fit-content;
    }

    &_down {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        margin-top: 0.5rem;
        align-items: center;

    }

    svg {
        background-color: $dimmed-color;
        border-radius: 0.5rem;
        font-size: 2rem;
        padding: 0.35rem;
        transition: $animation-primary;
    }

    &:hover {
        transition: $animation-primary;
        cursor: pointer;    

        svg {
            rotate: 45deg;
        }
    }

    span {
        font-family: $subtitle-font;
        font-size: $normal-font-size;
        color: $container-color;
    }
}