@import "../../../../styles/vairables";

.aboutUpperWrapper {
    width: 100%;
    height: 200vh;
    position: relative;
    padding: 0.5rem;
}

.aboutUpper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-color: $dimmed-color;
    position: sticky;
    top: 12.5vh;
    overflow: hidden;
    border-radius: 1rem;
    

    .logoFlex {
        position: absolute;
        top: 25vh;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        display: flex;
        justify-content: center;
        width: 100%;

        span {
            font-family: $header-font;
            font-size: calc($navigation-font-size * 1.25);
            text-align: center;
            text-transform: lowercase;
        }
    }

    .videoWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        video {
            object-fit: cover;
            border-radius: 1rem;
        }
    }
}

@media (max-width: 1256px) {
    .aboutUpper {
        .logoFlex {
            h2 {
                font-size: calc($bigger-font-size * 0.8);
            }
        }
    }
}