@import "../../../../styles/vairables";

.aboutUpperTitles {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &_titles {
        display: flex;

        &_accent {
            display: flex;

            span {
                color: $accent-color !important;
                margin-right: 0 !important;
            }
        }
    }

    h2 {
        line-height: 1;
        margin-top: 0;
        font-size: 5vw;
        font-family: $title-font;
        letter-spacing: normal;
        color: $title-color;
        text-transform: uppercase;

        @include respond-to(laptop) {
            font-size: $bigger-font-size;
        }

        @include respond-to(small-tablet) {
            font-size: $big-font-size;
        }

        @include respond-to(phone) {
            font-size: $big-font-size;
        }
    }
}

.aboutUpperLower {
    margin-top: 2rem;
    p {
        max-width: 70%
        
    }
}