@import "../../styles/_vairables.scss";

.footer {
    color: $container-color;
    background-color: $background-color;
    @include flexCenter(column);
    @include position(relative, 0, 0, 0, 0);
    height: fit-content;
    width: 100%;
    z-index: 0;
}

.upper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 100%;
    padding: $spacing-sm;
    padding-bottom: $spacing-lg;

    h3 {
        font-family: $header-font;
        font-size: $bigger-font-size;
        color: $title-color;

        @include respond-to(medium-tablet) {
            font-size: $normal-font-size;
        }
        span {
            color: $accent-color;
        }
    }

    @include respond-to(medium-tablet) {
        grid-template-columns: 1fr 1fr;
        padding-bottom: $spacing-lg;
    }
}

.nav,
.subscripe {
    @include flex(column, flex-start, flex-start);
    gap: $spacing-sm;
    width: 100%;
    
    span {
        font-size: $big-font-size;
        color: $title-color;
        font-weight: $bold-font-weight;
        font-family: $kiona-font;
        transition: $animation-primary;

        @include respond-to(medium-tablet) {
            font-size: $medium-font-size;
        }


        &:hover {
            transition: $animation-primary;
            color: #32816e;
        }
    }

    a {
        @include flex(row, flex-start, center);
        gap: $spacing-xs;
        width: 90%;
        transition: $animation-primary;

        h5 {
            font-size: $normal-font-size;
            font-family: $kiona-font;
        }

        @include respond-to(medium-tablet) {
            width: 100%;
            justify-content: flex-start;
        }

        &:hover {
            h4 {
                transition: $animation-primary;
                color: #32816e;
            }

            svg {
                transition: $animation-primary;
                rotate: (45deg);
            }
        }
    }

    h4 {
        color: $title-color;
        font-size: $medium-font-size;
        max-width: 60%;
        transition: $animation-primary;

        @include respond-to(medium-tablet) {
            max-width: 100%;
        }
    }

}

.subscripe {
    h4 {
        font-family: $kiona-font;
    }
    @include respond-to(medium-tablet) {
        align-items: flex-start;
    }
}

.lower {
    @include flex(row, space-between, center);
    width: 100%;

    @include respond-to(medium-tablet) {
        flex-direction: column-reverse;
        border-top: none;

    }

    &_left,
    ul {
        @include flex(row, null, flex-end);
        width: fit-content;
        gap: $spacing-sm;
        padding: $spacing-sm;

        strong {
            color: $title-color;
            font-size: $body-font-size;
            font-family: $kiona-font;
        }

        a {
            font-family: $kiona-font;
            font-size: $small-font-size !important;
        }

        @include respond-to(medium-tablet) {
            width: 100%;
            border-top: $border;
        }
    }

    ul {
        @include respond-to(medium-tablet) {
            width: 100%;
            justify-content: space-between;
        }


    }

    &_left {
        @include respond-to(medium-tablet) {
            width: 100%;
        }
    }

    &_right {



        @include respond-to(ipad) {
            display: none;
        }
    }

    a {
        color: $title-color;
        transition: $animation-primary;

        &:hover {
            transition: $animation-primary;
            color: #32816e;
        }
    }
}

.link {

    color: $title-color;
    position: relative;
    right: -$spacing-xxl;
    font-family: $kiona-font;

    a {
        color: $title-color;
    }

}

.span {
    font-size: $small-font-size;
}

.link_mobileOnly {
    display: block;

    @media (min-width:1024px) {
        display: none;
    }
}

.pageLink {
    font-family: $kiona-font;
    font-size: $medium-font-size;
    color: $title-color;
    width: 100%;
    line-break: anywhere;

    &:hover {
        color: #B377B7;
    }
}

.buttonContainer {
    @include flex(row, center, center);

    h5 {
        font-family: $kiona-font;
        font-size: $normal-font-size;
        color: $title-color;
        padding-left: $spacing-sm;
    }
}