@import "../../../../styles/vairables";

.upperBrief {
    @include flexCenter(column);
    height: 100vh;
    width: 100%;
    background-color: $darker-background-three;

    h4 {
        font-family: $header-font;
        font-size: $bigger-font-size;
        color: $text-color;
        letter-spacing: normal;
        text-transform: capitalize;
        font-display: swap;
        margin-bottom: $spacing-lg;
        text-align: center;
        max-width: 70%;

        @media (max-width: 777px) {
            font-size: $semi-big-font-size;
        }
    }
}