@import '../../styles/vairables';

.slidingParallax {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: $background-color;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: $spacing-xl 0;
}

.slide {
    position: relative;
    display: flex;
    white-space: nowrap;
    will-change: transform;
    width: 100%;
    margin: $spacing-lg 0;
}

.textGroup {
    display: flex;
    align-items: center;
}

.phrase {
    padding: 0 $spacing-sm;
    display: flex;
    align-items: center;
}

.text {
    font-size: clamp(2rem, 5.5vw, 5rem);
    font-family: $title-font;
    color: $title-color;
    white-space: nowrap;
    margin: 0;
    margin-right: $spacing-xxs;
}

@include respond-to(medium-tablet) {
    .container {
        padding: $spacing-lg 0;
    }

    .phrase {
        padding: 0 $spacing-sm;
    }

    .text {
        margin-right: $spacing-xs;
    }
}

@include respond-to(phone) {
    .slidingParallax {
        min-height: 40vh;
    }

    .container {
        padding: $spacing-md 0;
    }

    .slide {
        margin: $spacing-md 0;
    }
}